main {
    margin-top: 70px;
    /* height: 1000px; */
    margin-bottom: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.inst {
    margin-top: 20px;
    border: 2px;
    border-radius: 5px;
    border-style: double;
    padding-left: 20px;

    background: linear-gradient(45deg, #ffffffbe 25%, #ccccccb8 25%, #ccccccaf 50%, #ffffffcf 50%, #ffffffc0 75%, #ccccccd6 75%, #ccccccd7 100%);
    /* background-size: 4px 4px; */
    /* Adjust the size of the pattern */
    /* font-family: Arial, sans-serif; */
    color: #000;
}

.inst ul {
    list-style: disc;
}

.inst a {
    color: rgb(212, 65, 65);
    text-decoration: none;
}

fieldset {
    background-color: white;
    color: black;
}

/* body{
    background-color: rgb(199, 200, 211);
} */
body {
    background: linear-gradient(45deg, #000 25%, #333 25%, #333 50%, #000 50%, #000 75%, #333 75%, #333 100%);
    /* background-size: 4px 4px; */
    /* Adjust the size of the pattern */
    font-family: Arial, sans-serif;
    color: #fff;
    /* margin: 0;
    padding: 0; */
    /* overflow: hidden; */
}