.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    padding-top: 5px;
    z-index: 200;
    cursor: pointer;
}
.sidebar-links{
     display: flex;
     height: 90px;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.sidebar-links:hover{
    background-color: rgb(214, 211, 211);
}
.sidebar-links img{
    height: 30px;
    margin-bottom: 4px;
}
.sidebar-links div{
    font-size: 10px;
    font-family: roboto, arial;

}